{% extends "main.html" %}

{% block title %}
    Критерий
{% endblock %}
{% block main %}
    {% include "generic/messages.html" %}
    <p>{{ criterion.description }}</p>
    <p>{{ criterion.ages }}</p>
    <p>{{ criterion.subject }}</p>
    <p>{{ criterion.goal }}</p>
    <p>{{ criterion.tools }}</p>
    <p>{{ criterion.responsble }}</p>

    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <div class="submit-button"><input type="submit" value="Сохранить"></div>
    </form>

    <!--<form action="" method="post">-->
        <!--{% include "generic/form.html" %}-->
        <!--<div class="submit-button"><input type="submit" value="Сохранить"></div>-->
    <!--</form>-->
{% endblock %}
