{% extends "base.html" %}
{% load staticfiles %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="{% static "criterion.css" %}">
{% endblock %}
{% block content %}
    <header>
        <h1>Мониторинг</h1>
        {% if user.is_authenticated %}
        <h3>Вы - {{ user.first_name }} {{ user.last_name }}, {{ user.virouser.region }}</h3>
        {% endif %}
        <hr class="spacer">
    </header>
    <div class="primary">
        {% if user.is_authenticated %}
        <aside>
            <ul>
                {% url "main" as page_url %}
                <li {% if page_url == current_url %}class="current" {% endif %}><a href="{{ page_url }}">Главная</a></li>
                <!--<li><a href="/djadmin/">Админка</a></li>-->
                <!--<li class="indented"><a href="{% url "logout" %}">Выйти</a></li>-->
                {% for criter in criterions %}
                    {% url "criterion" criter.id  as page_url %}
                    <li {% if page_url == current_url %}class="current" {% endif %}><a href="{{ page_url }}">Критерий {{ forloop.counter }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        {% endif %}
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <hr class="spacer">
        <p>Разработчик: Игнатьев Н. &#9; Дизайн: Котлов Ю.</p>
    </footer>
{% endblock %}