{% extends "base.html" %}
{% load staticfiles %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static "main.css" %}">
{% endblock %}
{% block content %}
    <header>
        <h1>Мониторинг</h1>
        {% if user.is_authenticated %}
        <h3>Вас зовут: {{ user.first_name }} {{ user.last_name }}</h3>
        <h3>Расположение: {{ user.virouser.region }}</h3>
        {% endif %}
    </header>
    {% if user.is_authenticated %}
    <aside>
        <ul>
            {% url "main" as page_url %}
            <li><a href="{{ page_url }}"{% if page_url == current_url %}class="current" {% endif %}>Главная</a></li>
            <li class="indented"><a href="/djadmin/">Админка</a></li>
            <li class="indented"><a href="{% url "logout" %}">Выйти</a></li>
            {% for criter in criterions %}
                <li><a href="{% url "criterion" criter.id %}">Критерий {{ forloop.counter }}</a></li>
            {% endfor %}


        </ul>
    </aside>
    {% endif %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>Разработчик: Игнатьев Н.</p>
    </footer>
{% endblock %}